$base-font: 'Lato', sans-serif;
$base-fontSize: 16px;
$base-fontWeight: 400;

$text-color-main: #FFFFFF;
$text-color-secondary:#959BA5;

$background-color: #242730;
$button-color: linear-gradient(180deg, rgba(143,215,231,1) 9%, rgba(146,213,231,1) 13%, rgba(175,170,215,1) 90%);
    