$base-font: 'Lato', sans-serif;
$base-fontSize: 16px;
$base-fontWeight: 400;

$text-color-main: #FFFFFF;
$text-color-secondary:#959BA5;

$background-color: #242730;
$background-color-secondary: #daabd41a;
$button-color: linear-gradient(180deg, #8fd7e7 9%, #92d5e7 13%, #afaad7 90%);
$accent-color: #ef27d4cc;